@model IEnumerable<SISCOP.Models.Oferta>

@{
    ViewBag.Title = "Index";
}

<h2>Listado Ofertas</h2>
<div style="padding-right: 30px;padding-bottom:20px">
    <input type="text" style="float:right; display:inline-block">
    <label style="float: right; display: inline-block;">Buscar   &nbsp;&nbsp;</label>
</div>

<p>
    @Html.ActionLink("Crear nueva", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_oferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.responsable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_recepcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_presentacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.pais)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_oferta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.responsable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_recepcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_presentacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.pais)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.id_oferta  }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id_oferta }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id_oferta })
            </td>
        </tr>
    }

</table>
