@model SistemaSISCOP.Models.Clientes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Clientes</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id_cliente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_cliente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pais)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pais)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.web)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.web)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.telefono)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telefono)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.correo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.correo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.direccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
