@model SISCOP.Models.Tarea

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Tarea</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id_tarea)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_tarea)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha_inicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha_inicio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha_final)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha_final)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.prioridad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prioridad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id_etapa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_etapa)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
