@model IEnumerable<SISCOP.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Clientes</h2>
<div style="padding-right: 30px;padding-bottom:20px">
    <input type="text" style="float:right; display:inline-block">
    <label style="float: right; display: inline-block;">Buscar   &nbsp;&nbsp;</label>
</div>

<p>
    @Html.ActionLink("Crear nuevo cliente", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.web)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.web)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id_cliente }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.id_cliente }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id_cliente })
            </td>
        </tr>
    }

</table>
