@model IEnumerable<SISCOP.Models.Contacto>

@{
    ViewBag.Title = "Index";
}

<h2>Listado Contactos</h2>
<div style="padding-right: 30px;padding-bottom:20px">
    <input type="text" style="float:right; display:inline-block">
    <label style="float: right; display: inline-block;">Buscar   &nbsp;&nbsp;</label>
</div>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_contacto)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.id_cliente)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ocupacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefonos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_contacto)
                </td>
                @*@<td>
                    @Html.DisplayFor(modelItem => item.id_contacto)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.pais)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ocupacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefonos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.correo)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.id_contacto }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.id_contacto }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.id_contacto })
                </td>
            </tr>
        }

    </table>
