@model SISCOP.Models.Etapa

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Esta seguro que quiere eliminar el registro?</h3>
<fieldset>
    <legend>Etapa</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id_etapa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_etapa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Proyecto.nombre_estudio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Proyecto.nombre_estudio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha_inicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha_inicio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha_final)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha_final)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.encargado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.encargado)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Volver al listado", "Index")
    </p>
}
