@model IEnumerable<SISCOP.Models.Proyecto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_proyecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_estudio)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.responsable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_recepcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_presentacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            Ver Etapas
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_proyecto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_estudio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.responsable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_recepcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_presentacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.observacion)
            </td>
            <td>
               @Html.ActionLink("Ver Etapas", "Index","Etapa", new { id = item.id_proyecto },null)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.id_proyecto  }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_proyecto }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_proyecto })
            </td>
        </tr>
    }

</table>
